# This is a basic workflow to help you get started with Actions

name: greeting_hd

on:
  workflow_dispatch

env:
  DAY_OF_WEEK: Monday
  First_Name: Hampus

jobs:
  greeting_job:
    runs-on: ubuntu-latest
    env:
      Greeting: Hello
    steps:
      - name: "Say Hello Mona it's Monday"
        run: echo "$Greeting $First_Name. Today is $DAY_OF_WEEK!"
      
      - name: "I dont like Monday"
        run: echo "$Greeting, $First_Name dont like $DAY_OF_WEEK!

           
